* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

main {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  background-image: url("../images/background_image_transparent.png");
  background-position: 0;
  background-size: cover;
}

main h1 {
  font-size: 2.5rem;
  color: teal;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

h2 span {
  font-size: 1.5rem;
  font-weight: bold;
  color: teal;
}

h3 {
  margin-top: 5px;
  font-weight: normal;
}

h3 span {
  font-weight: bold;
  color: teal;
}

.nav-bar {
  background-color: teal;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.nav-bar ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
}

.nav-bar a:hover {
  font-weight: bold;
  font-size: 0.8rem;
}

.game-logo {
  height: 7vh;
}

.welcome-image {
  height: 25vh;
}

#feedback-form.display {
  position: absolute;
  top: 50px;
  left: 0;
  margin: 0 15%;
  width: 70%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#feedback-form.display > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#feedback-form.display > div a {
  font-size: 1rem;
  font-weight: bold;
  color: gray;
  text-decoration: none;
  padding: 10px;
}

.initial-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}

#additional-purchase.display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  border-radius: 4px;
  border: 1px solid lightgray;
  font-weight: lighter;
  font-style: italic;
  padding: 10px 0;
  padding-left: 5px;
  width: 300px;
  margin: 10px 0;
}

.display {
  display: block;
}

.hide {
  display: none;
}

.start-btn {
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  width: 350px;
  font-size: 1.2rem;
  padding: 10px 0;
}
.start-game {
  background-color: teal;
}

.restart {
  background-color: teal;
}

.start-game:hover {
  background-color: white;
  color: teal;
  border: 3px solid teal;
  padding: 7px 0;
}

.steroids-game {
  background-color: rebeccapurple;
}

.steroids-game:hover {
  background-color: white;
  color: rebeccapurple;
  border: 3px solid rebeccapurple;
  padding: 7px 0;
}

.game-display {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/background_image.PNG");
  background-position: 0;
  background-size: cover;
  height: 92vh;
}

.start-game {
  background-color: teal;
}

.card {
  width: 15vw;
}

.card-container {
  display: table;
  table-layout: fixed;
  width: 80%;
  max-width: 40vw;
}

.card-container div {
  display: table-cell;
  width: 4vw;
}

.card-container img {
  display: block;
}

#pc {
  height: 70vh;
  padding: 3vh;
  margin: 5vh 2vw;
  border: 0.5px solid lightgray;
  border-radius: 12px;
  box-shadow: 10px 10px 8px lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

#player {
  height: 70vh;
  padding: 3vh;
  margin: 5vh 2vw;
  border: 0.5px solid lightgray;
  border-radius: 12px;
  box-shadow: 10px 10px 8px lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

#next-move {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh 0;
  height: 70vh;
  padding: 3vh 1vw;
}

#next-move div {
  width: 80px;
  margin: 10px 0;
}

#next-move div h6 {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.top-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.left-side h3 {
  text-align: end;
}

#win-count {
  color: teal;
}

#loss-count {
  color: rebeccapurple;
}

#tie-count {
  color: goldenrod;
}

.action-button {
  border: none;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  text-align: center;
  box-sizing: border-box;
  width: 90px;
  padding: 10px 0;
  margin: 10px 0;
}

#hit {
  background-color: teal;
}

#hit:hover {
  border: 3px solid teal;
  color: teal;
  background-color: white;
  padding: 7px 0;
}

#stand {
  background-color: rebeccapurple;
}

#stand:hover {
  background-color: white;
  border: 3px solid rebeccapurple;
  color: rebeccapurple;
  padding: 7px 0;
}

#double {
  background-color: goldenrod;
}

#double:hover {
  background-color: white;
  border: 3px solid goldenrod;
  color: goldenrod;
  padding: 7px 0;
}

#halve {
  background-color: rgb(255, 72, 0);
}

#halve:hover {
  background-color: white;
  border: 3px solid rgb(255, 72, 0);
  color: rgb(255, 72, 0);
  padding: 7px 0;
}

#show-cards {
  background-color: teal;
}

#show-cards:hover {
  background-color: white;
  border: 3px solid teal;
  color: teal;
  padding: 7px 0;
}

.toast-message {
  visibility: hidden;
  min-width: 30vw;
  height: 25vh;
  box-sizing: border-box;
  background-color: white;
  text-align: left;
  border-radius: 12px;
  box-shadow: 10px 10px 8px lightgray;
  padding: 16px;
  padding-left: 10px;
  position: fixed;
  z-index: 1;
  left: 35vw;
  bottom: 37vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toast-message.show {
  visibility: visible;
}

.toast-message h5 {
  font-size: 0.7rem;
  font-weight: normal;
  color: black;
}

.toast-message h5 span {
  font-size: 1rem;
  font-weight: bold;
}

#loss {
  color: rgb(102, 51, 153);
  border-left: 5px solid rgb(102, 51, 153);
}

#loss button {
  background-color: rebeccapurple;
}

#loss button:hover {
  background-color: white;
  color: rebeccapurple;
  border: 3px solid rebeccapurple;
  padding: 7px;
  font-weight: bold;
}

#loss h5 span {
  color: rebeccapurple;
}

#win {
  color: rgb(0, 128, 128);
  border-left: 5px solid rgb(0, 128, 128);
}

#win button {
  background-color: teal;
}

#win button:hover {
  background-color: white;
  color: teal;
  border: 3px solid teal;
  padding: 7px;
  font-weight: bold;
}

#win h5 span {
  color: teal;
}

#tie {
  color: goldenrod;
  border-left: 5px solid goldenrod;
}

#tie button {
  background-color: goldenrod;
}

#tie button:hover {
  background-color: white;
  color: goldenrod;
  border: 3px solid goldenrod;
  padding: 7px;
  font-weight: bold;
}

#tie h5 span {
  color: goldenrod;
}

#game-over {
  width: 550px;
  height: 250px;
  color: rgb(102, 51, 153);
  border-left: 5px solid rgb(102, 51, 153);
  left: 25%;
  bottom: 30%;
}

#game-over button {
  background-color: rebeccapurple;
  font-size: 0.7rem;
}

#game-over button:hover {
  background-color: white;
  color: rebeccapurple;
  border: 3px solid rebeccapurple;
  padding: 7px;
  font-weight: bold;
}

#block-double-bet {
  width: 35vw;
  height: 30vh;
  color: rgb(102, 51, 153);
  border-left: 5px solid rgb(102, 51, 153);
  left: 30%;
  bottom: 30%;
}

#block-double-bet button {
  background-color: rebeccapurple;
}

#block-double-bet button:hover {
  background-color: white;
  color: rebeccapurple;
  border: 3px solid rebeccapurple;
  padding: 7px;
  font-weight: bold;
}

#form-misfilled {
  width: 35vw;
  height: 35vh;
  color: rgb(102, 51, 153);
  border-left: 5px solid rgb(102, 51, 153);
  left: 30%;
  bottom: 30%;
}

#form-misfilled button {
  background-color: rebeccapurple;
}

#form-misfilled h5 {
  font-size: 1rem;
}

.toast-btn {
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: normal;
  font-size: 0.7rem;
  padding: 10px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.transitions {
  z-index: 1;
  bottom: 0%;
  left: 20%;
  position: fixed;
  width: 50vw;
}

.transitions img {
  width: 70vw;
}

#money-loss {
  top: 0%;
}

/* Responsive design */

@media (min-width: 746px) and (max-width: 1054px) {
  * {
    font-size: 15px;
  }

  .toast-message h5 {
    font-size: 1rem;
  }

  .toast-message button {
    font-size: 0.8rem;
  }

  .card {
    width: 150px;
  }

  .card-container {
    width: 80%;
    max-width: 350px;
  }

  .card-container div {
    display: table-cell;
    width: 30px;
  }

  #pc {
    height: 350px;
    padding: 20px;
    margin: 30px 10px;
  }

  #player {
    height: 350px;
    padding: 20px;
    margin: 30px 10px;
  }

  #next-move {
    height: 350px;
    padding: 10px;
    margin: 30px 0;
  }
}

@media (max-width: 746px) {
  * {
    font-size: 14px;
  }

  .nav-bar ul {
    width: 70%;
  }

  .game-logo {
    height: 30px;
  }

  .welcome-image {
    height: 100px;
  }

  .toast-message {
    min-width: 250px;
    height: 150px;
    left: 15%;
  }

  .toast-message h5 {
    font-size: 1rem;
  }

  .toast-message button {
    font-size: 0.8rem;
  }

  .game-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card {
    width: 100px;
  }

  .card-container {
    width: 80%;
    max-width: 250px;
  }

  .card-container div {
    display: table-cell;
    width: 30px;
  }

  #pc {
    height: 300px;
    padding: 20px;
    margin: 10px;
  }

  #player {
    height: 300px;
    padding: 20px;
    margin: 10px;
  }

  #next-move {
    height: 90px;
    padding: 10px;
    margin: 0;
    flex-direction: row;
  }
}
